.listView .list-cell {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-pref-height: 37px;
}

.treeView {
    -fx-background-color: #2c2c2c;
}

.treeView .scroll-bar {
    -fx-background-color: #2c2c2c;
    -fx-hbar-policy: never;
}

.treeView .tree-cell {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-pref-height: 25px;
}

.listView .list-cell, .treeView .tree-cell {
    -fx-background-radius: 30px;
    -fx-background-insets: 1px 0px 1px 0px;
}

.listView .list-cell:filled:hover {
    -fx-background-color: #f98012;
}

.listView .list-cell:filled:selected, .treeView .tree-cell:filled:selected {
    -fx-background-color: #f98012;
}

.treeView .arrow {
    -fx-background-color: white;
}

.tabPane .tab-header-area {
    -fx-pref-height: 40px;
    -fx-padding: 0px;
}

.tabPane .tab-header-background {
    -fx-background-image: url("/images/tabPaneHeaderBackground.png");
}

.tabPane .arrow, .tabPane .tab-down-button, .tabPane .control-buttons-tab {
    -fx-pref-width: 0px;
}

.tabAlbumi, .tabFS {
    -fx-background-color: #000000;
    -fx-pref-height: 40px;
    -fx-background-radius: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0px 0px 2px 0px;
    -fx-padding: 0px;
}

.tabAlbumi, .tabFS, .tabAlbumi .tab-label, .tabFS .tab-label{
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 125px;
    -fx-alignment: center;
}

.tabAlbumi {
    -fx-background-radius: 0px 0px 20px 0px;
}

.tabFS {
    -fx-background-radius: 0px 0px 0px 20px;
}

.tabAlbumi:hover, .tabFS:hover {
    -fx-background-color: #2c2c2c;
}

.tabAlbumi:hover {
    -fx-background-radius: 0px 20px 20px 0px;
}

.tabFS:hover {
    -fx-background-radius: 20px 0px 0px 20px;
}

.tabAlbumi:selected, .tabFS:selected {
    -fx-background-color: #f98012;
    -fx-border-color: transparent;
    -fx-end-margin: 0px;
}

.tabAlbumi:selected {
    -fx-background-radius: 0px 20px 0px 0px;
}

.tabFS:selected {
    -fx-background-radius: 20px 0px 0px 0px;
}

.buttonAddNewAlbum {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: #a2a2a2;
    -fx-font-size: 15px;
    -fx-alignment: center-left;
    -fx-background-radius: 30px;
}

.buttonAddNewAlbum:hover {
    -fx-background-color: #707070;
    -fx-text-fill: #ffffff;
}

.buttonAddNewAlbum:pressed {
    -fx-background-color: #f98012;
    -fx-text-fill: #ffffff;
}

.scrollPane .scroll-bar {
  -fx-background-color: #2c2c2c;
}

.buttonAddNewImages, .buttonCheck, .buttonMenu, .buttonAbort, .buttonRemove, .buttonDelete {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60, 40;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.buttonDelete {
    -fx-background-image: url("/images/delete.png");
}

.buttonRemove {
    -fx-background-image: url("/images/zoomOut.png");
}

.buttonAddNewImages {
    -fx-background-image: url("/images/addImages.png");
}

.buttonCheck {
    -fx-background-image: url("/images/check.png");
}

.buttonMenu {
    -fx-background-image: url("/images/menu.png");
}

.buttonAbort {
    -fx-background-image: url("/images/abort.png");
}

.buttonMenu > .arrow-button {
    -fx-padding: 0;
}

.buttonMenu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.buttonAddNewImages:hover, .buttonCheck:hover, .buttonMenu:hover, .buttonAbort:hover, .buttonRemove:hover, .buttonDelete:hover {
    -fx-background-color: #f98012;
}

.check-box {
    -fx-opacity: 0.5;
}

.check-box:selected {
    -fx-opacity: 1;
}

.ceck-box *.box {
    -fx-border-color: #f98012;
}

.image-frame {
    -fx-border-width: 2px;
    -fx-border-insets: -2;
}